:root {
    --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Nunito",  sans-serif;
    --nav-font: "Poppins",  sans-serif;
  }
  
  /* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
  :root { 
    --background-color: #ffffff; /* Background color for the entire website, including individual sections */
    --default-color: #444444; /* Default color used for the majority of the text content across the entire website */
    --heading-color: #012970; /* Color for headings, subheadings and title throughout the website */
    --accent-color: #4154f1; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
    --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
  }
  
  /* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
  :root {
    --nav-color: #012970;  /* The default color of the main navmenu links */
    --nav-hover-color: #4154f1; /* Applied to main navmenu links when they are hovered over or active */
    --nav-mobile-background-color: #ffffff; /* Used as the background color for mobile navigation menu */
    --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
    --nav-dropdown-color: #212529; /* Used for navigation links of the dropdown items in the navigation menu. */
    --nav-dropdown-hover-color: #4154f1; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
  }
  
  /* Color Presets - These classes override global colors when applied to any section or element, providing reuse of the sam color scheme. */
  
  .light-background {
    --background-color: #f9f9f9;
    --surface-color: #ffffff;
  }
  
  .dark-background {
    --background-color: #060606;
    --default-color: #ffffff;
    --heading-color: #ffffff;
    --surface-color: #252525;
    --contrast-color: #ffffff;
  }
  
  /* Smooth scroll */
  :root {
    scroll-behavior: smooth;
  }
  
  /*--------------------------------------------------------------
  # General Styling & Shared Classes
  --------------------------------------------------------------*/
  body {
    color: var(--default-color);
    background-color: var(--background-color);
    font-family: var(--default-font);
  }
  
  a {
    color: var(--accent-color);
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    color: color-mix(in srgb, var(--accent-color), transparent 25%);
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
  }
  



    /*--------------------------------
    Global Navbar 
    --------------------------------*/
    .navbar {
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0 4px 10px rgba(180, 215, 255, 0.832);
    }
    .navbar .navbar-brand img {
        margin-left: 20px;
        height: 40px;
    }
    .navbar.scrolled {
        background-color: white !important;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    }

    .nav-item {
        font-size: 18px;
        margin: 10px 0px;
        transition: all 0.5s ease;
    }

    .navbar.scrolled .nav-link, .toggle-icon {
        color: black !important;
    }

    .nav-item:hover {
        transform: translateX(-5px);
    }

    .navbar-toggler {
        border-color: black;
    }
    .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' height='30' width='30' viewBox='0 0 30 30'%3E%3Cpath stroke='black' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    .navbar-nav {
        margin-left: auto;
    }

    .btn-getstarted {
        color: white; 
        background-color: rgb(2, 5, 38); 
        border-radius: 5px;
        padding: 10px 20px; 
    }

    .btn-getstarted:hover {
        background-color: yellow; 
        color: rgb(2, 5, 38);
    }


    /*------------------------------------
    # Banner
    --------------------------------------*/
    .banner {
        width: 100%;
        height: 620px;
        position: relative;
        padding: 80px 0 60px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: url(../img/bg-banner.jpg) top no-repeat;
        background-size: cover;
        @media (max-width: 500px){
            height: 400px;
        }
    }

    .banner-content {
        display: flex; /* Ensure this is a flex container */
        align-items: center; /* Center vertically */
        justify-content: center; /* Center horizontally */
    }

    .banner img{
        height: 130px;
        
        @media (max-width: 500px){
            height: 80px;
        }
    }
    .banner-speech {
        background-color: #031029da;
        justify-content: center;
        text-align: center;
        padding: 15px;
        @media(max-width:560px){
            padding: 5px;
        }
    }
    .banner-speech p{
        color: white;
        margin: 0;
        font-size: 36px;
        font-weight: 400;
        line-height: 48px;

        @media (max-width:932px){
            font-size: 30px;
        }
        @media(max-width:746px){
            font-size: 22px;
        }
        @media(max-width:560px){
            font-size: 15px;
        }
    }


     /*--------------------------------------------------------------
    # About Section
    --------------------------------------------------------------*/
    .about .content {
        background-color: rgba(6, 58, 54, 0.078);
        padding: 40px;
    }
    
    .about .content h3 {
        font-size: 20px;
        font-weight: 700;
        color: var(--accent-color);
        text-transform: uppercase;
    }
    
    .about .content h2 {
        font-size: 24px;
        font-weight: 700;
    }
    
    .about .content p {
        margin: 15px 0 30px 0;
        line-height: 24px;
    }
    
    .about .content .btn-read-more {
        color: var(--contrast-color);
        background: #031029da;
        line-height: 0;
        padding: 15px 40px;
        border-radius: 4px;
        transition: 0.5s;
        box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
    }
    
    .about .content .btn-read-more span {
        font-family: var(--default-font);
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 1px;
    }
    
    .about .content .btn-read-more i {
        margin-left: 5px;
        font-size: 18px;
        transition: 0.3s;
    }
    
    .about .content .btn-read-more:hover i {
        transform: translateX(5px);
    }


    /*---------------------------
      Win-Card
    ---------------------------*/
    .row-content{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top:2%;
    }
    .ami-win-card{
        width:475px;
        margin:1%;
    }

    .box {
        background: var(--g2, linear-gradient(327deg, #035661 0.35%, #021b29 33.59%, #50a9d6 72.21%, #011c31 96.67%));
        border: solid 1px #00D1FF;
        backdrop-filter: blur(300px);
        opacity: 1 !important;
        mix-blend-mode: inherit;
        height: 250px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .box:hover {
        background: var(--g2, linear-gradient(147deg, #302545 0.35%, rgba(143, 123, 168, 0.704) 33.59%, #042968 72.21%, #0165ED 96.67%));
    }

    #featured {
        background: var(--g2, linear-gradient(327deg, #035661 0.35%, #021b29 33.59%, #50a9d6 72.21%, #011c31 96.67%));
        border: solid 1px #00D1FF;
        backdrop-filter: blur(21.494609832763672px);
        height: 250px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #featured:hover {
        background: var(--g2, linear-gradient(147deg, #302545 0.35%, rgba(143, 123, 168, 0.704) 33.59%, #042968 72.21%, #0165ED 96.67%));
    }

    .box h1 {
        color: #FFF;
        text-shadow: 63.109px 55.827px 86.654px rgba(0, 107, 255, 0.40);
        font-family: Montserrat;
        font-size: 68px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: center;
        /* padding-left: 14%; */
    }
    
    .box h4 {
        color: #FFF !important;
        font-family: Montserrat;
        font-size: 30.56px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: center;
        /* padding-left: 14%; */
    }

    .featured h1 {
        color: #FFF;
        text-shadow: 63.109px 55.827px 86.654px rgba(0, 107, 255, 0.40);
        font-family: Montserrat;
        font-size: 68px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: center;
        /* padding-left: 14%; */
    }

    .featured h4 {
        color: #FFF;
        text-shadow: 63.109px 55.827px 86.654px rgba(0, 107, 255, 0.40);
        font-family: Montserrat;
        font-size: 30.56px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-align: center;
        /* padding-left: 14%; */
    }

    @media (max-width:850px){
        .row-content{
            display:flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            align-content:center;
        }
        .box h4{
            font-size:large;
        }
        .featured h4{
            font-size:large;
        }
    }
    @media (max-width:650px){
        .ami-win-card{
            width:90%;
        }
    }


    /*-------------------------
     Qualities
    -------------------------*/
    .quality {
        margin-top:5%;
        background-color: rgba(6, 58, 54, 0.078);
        box-shadow: 0 -4px 10px rgba(93, 165, 246, 0.75);
    }

    .quality .quality-content {
        text-align: center;
    }

    .quality-content h{
        margin: 10px 50px;
    }
    .quality-content p{
        margin: 2% 20%;
    }

    @media(max-width:600px) {
        .quality-content p{
            margin: 2% 8%;
        }
    }


    /*-------------------------
     Values
    -------------------------*/

    .win-container{
        position: relative;
        max-width: 100%;
        margin: auto;
        overflow: hidden;
        /* padding-top: 5vh;
        padding-bottom: 5vh; */
    }
    .win .section-title h2 {
        font-size: medium;
        font-weight: 800;
        /* margin-bottom: 20px; */
        padding-bottom: 0;
        font-family: 'Montserrat';
        /* color: #00D1FF; */
        /* color: linear-gradient(212.08deg, #00D1FF -4.77%, #018BE3 88.42%),linear-gradient(0deg, #0188E2, #0188E2); */
    }

    .win .section-title {
        text-align: center;
        /* padding-bottom: 30px; */
        margin-top: -2%;
    }
    
    .win .section-title h2 {
        font-size: xx-large;
        font-weight: 800;
        /* margin-bottom: 20px; */
        padding-bottom: 0;
        font-family: 'Montserrat';
        /* color: #00D1FF; */
        /* color: linear-gradient(212.08deg, #00D1FF -4.77%, #018BE3 88.42%),linear-gradient(0deg, #0188E2, #0188E2); */
    }
    .win-tiles-container {
        /* background: url(../img/win_band.png);
        background-size: cover; */
        width: 100%;
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }
    
    .win-tiles-container-bg-img {
        position: absolute;
        top: 32%;
        height: 41vh;
        left: 0;
        z-index: -1;
        display: block;
    }
    
    .tiles-container {
        display: flex;
        width: 80%;
        margin: auto;
        align-items: center;
    }
    .win-first-tile-img {
        height: auto;
    }
    .first-tile {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .win-second-tile-img {
        height: auto;
    }
    .second-tile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .win-third-tile-img {
        height: auto;
    }

    .third-tile {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .content-tile {
        text-align: left;
        padding: 10% !important;
    }
    
    .content-tile>h4 {
        font-size: large;
        text-transform: uppercase;
        background: linear-gradient(282deg, #00D1FF 29.86%, #018BE3 69.01%);
        background-clip: none;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 2%;
    }
    
    .content-tile>p {
        font-size: large;
        /* font-weight: bold; */
        padding: 2%;
    }

    @media (max-width:1550px){
        /* .win-image-container .win-image{
        height:85vh;
        }*/
        .win-tiles-container-bg-img {
        height: 35vh;
        }
        .win-first-tile-img {
        height: 25vh;
        }
        .win-second-tile-img {
        height: 35vh;
        }
        .win-third-tile-img {
        height: 50vh;
        }
    }

    @media (max-width:1400px){
        /* .win-image-container .win-image{
        height:75vh;
        }
        .dark .win-image-container .win-image-dark{
        height:75vh;
        } */
        .win-tiles-container-bg-img {
        height: 33vh;
        }
        .win-first-tile-img {
        height: 25vh;
        }
        .win-second-tile-img {
        height: 33vh;
        }
        .win-third-tile-img {
        height: 45vh;
        }
    }
    @media (max-width:1300px) {
        .win-tiles-container-bg-img {
        height: 31vh;
        }
        .win-first-tile-img {
        height: 30vh;
        }
        .win-second-tile-img {
        height: 35vh;
        }
        .win-third-tile-img {
        height: 45vh;
        }
    }
    @media (max-width:1200px){
        .tiles-container{
        flex-direction: column;
        }
        .win-tiles-container-bg-img {
        display:none;
        }
        .win-first-tile-img {
        height: 17vh;
        }
        .win-second-tile-img {
        height: 25vh;
        }
        .win-third-tile-img {
        height: 35vh;
        }
        .first-tile {
        display: flex;
        flex-direction: row;
        align-items: center;
        }
        .second-tile {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        }
        .third-tile {
        display: flex;
        flex-direction: row;
        align-items: center;
        }
        .content-tile {
        text-align: left;
        padding: 5% !important;
        }

        .win-image-container .win-image{
        height:40vh;
        }
    }
    @media (max-width:850px){
        .win-image-container .win-image{
            background: url(assets/img/steps_to_win_light_mobile.png);
            max-width:90%;
            height:87vh;
            background-size: cover;
        }
        .content-tile>h4 {
            font-size: small;
        }

        .content-tile>p {
            font-size: small;
        }
            }
    @media (max-width:500px){
        .win .section-title h2 {
            font-size: medium;
            font-weight: 800;
            /* margin-bottom: 20px; */
            padding-bottom: 0;
            font-family: 'Montserrat';
            /* color: #00D1FF; */
            /* color: linear-gradient(212.08deg, #00D1FF -4.77%, #018BE3 88.42%),linear-gradient(0deg, #0188E2, #0188E2); */
        }
        .win-image-container .win-image{
            background: url(assets/img/steps_to_win_light_mobile.png);
            max-width:90%;
            height:54vh;
            background-size: cover;
        }
        .tiles-container{
            flex-direction: column;
            width: 90%;
            }
            .win-tiles-container-bg-img {
            display:none;
            }
            .win-first-tile-img {
            height: 10vh;
            }
            .win-second-tile-img {
            height: 15vh;
            }
            .win-third-tile-img {
            height: 20vh;
            }
            .content-tile>h4 {
            font-size: x-small;
            }

            .content-tile>p {
            font-size: x-small;
            }
    }

  /*--------------------------------------------------------------
  # Global Footer
  --------------------------------------------------------------*/
  .footer {
    color: var(--default-color);
    padding-left: 15px;
    background-color: rgba(6, 58, 54, 0.564);
    font-size: 14px;
    padding-bottom: 50px;
    position: relative;
    box-shadow: 0 -4px 10px rgba(93, 165, 246, 0.75);
  }
  
  .footer .footer-top {
    padding-top: 50px;
  }
  
  .footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: rgba(180, 215, 255, 0.43);
    border: 1px solid color-mix(in srgb, var(--accent-color), transparent 85%);
    font-size: 16px;
    color: var(--accent-color);
    margin-right: 10px;
    transition: 0.3s;
  }
  
  .footer .social-links a:hover {
    color: var(--contrast-color);
    background-color: var(--accent-color);
  }
  
  .footer img {
    height:50px;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }

  .footer h4 {
    color: rgb(6, 39, 46);
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }
  
  .footer .footer-links {
    margin-bottom: 30px;
  }
  
  .footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-links ul i {
    margin-right: 3px;
    font-size: 12px;
    line-height: 0;
    color: white;
  }
  
  .footer .footer-links ul li {
    color: white;
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .footer .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  .footer .footer-links ul a {
    display: inline-block;
    color: color-mix(in srgb, var(--default-color), transparent 20%);
    line-height: 1;
    color: white;
  }
  
  .footer .footer-links ul a:hover {
    color: var(--accent-color);
  }
  
  .footer .footer-about a {
    color: var(--heading-color);
    font-size: 24px;
    font-weight: 600;
    font-family: var(--heading-font);
  }
  
  .footer .footer-contact p {
    margin-bottom: 5px;
    color: white;
  }
  
  .footer .copyright {
    padding-top: 25px;
    padding-bottom: 10px;
    border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  }
  
  .footer .copyright p {
    margin-bottom: 0;
    color: white;
  }
  
  .footer .credits {
    margin-top: 6px;
    font-size: 13px;
    color: white;
  }
  
  /*--------------------------------------------------------------
  # Scroll Top Button
  --------------------------------------------------------------*/
  .scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background-color: #012970;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
  }
  
  .scroll-top i {
    font-size: 24px;
    color: var(--contrast-color);
    line-height: 0;
  }
  
  .scroll-top:hover {
    background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
    color: var(--contrast-color);
  }
  
  .scroll-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  /*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  
  /*--------------------------------------------------------------
  # Global Page Titles & Breadcrumbs
  --------------------------------------------------------------*/
  .page-title {
    color: var(--default-color);
    background-color: var(--background-color);
    position: relative;
  }
  
  .page-title .heading {
    padding: 80px 0;
    border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  }
  
  .page-title .heading h1 {
    font-size: 38px;
    font-weight: 700;
  }
  
  .page-title nav {
    background-color: color-mix(in srgb, var(--default-color), transparent 95%);
    padding: 20px 0;
  }
  
  .page-title nav ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
  }
  
  .page-title nav ol li+li {
    padding-left: 10px;
  }
  
  .page-title nav ol li+li::before {
    content: "/";
    display: inline-block;
    padding-right: 10px;
    color: color-mix(in srgb, var(--default-color), transparent 70%);
  }
  
  /*--------------------------------------------------------------
  # Global Sections
  --------------------------------------------------------------*/
  section,
  .section {
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 60px 0;
    scroll-margin-top: 98px;
    overflow: clip;
  }
  
  @media (max-width: 1199px) {
  
    section,
    .section {
      scroll-margin-top: 56px;
    }
  }
  
  /*--------------------------------------------------------------
  # Global Section Titles
  --------------------------------------------------------------*/
  .section-title {
    text-align: center;
    padding-bottom: 60px;
    position: relative;
  }
  
  .section-title h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0;
    background: color-mix(in srgb, var(--accent-color), transparent 90%);
    color: var(--accent-color);
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
    font-family: var(--default-font);
  }
  
  .section-title p {
    color: var(--heading-color);
    margin: 10px 0 0 0;
    font-size: 32px;
    font-weight: 700;
    font-family: var(--heading-font);
  }
  
  .section-title p .description-title {
    color: var(--accent-color);
  }
  


  


  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  .hero {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 80px 0 60px 0;
    display: flex;
    align-items: center;
    background: url(../img/bg-banner.jpg) top center no-repeat;
    background-size: cover;
  }
  
  .hero h1 {
    color: white;
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    z-index: 1;
  }
  
  .hero p {
    color: color-mix(in srgb, var(--default-color), transparent 30%);
    margin: 5px 0 30px 0;
    font-size: 20px;
    font-weight: 400;
  }
  
  .hero .btn-get-started {
    color: var(--contrast-color);
    background: var(--accent-color);
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 40px;
    border-radius: 4px;
    transition: 0.5s;
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);
  }
  
  .hero .btn-get-started i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
  }
  
  .hero .btn-get-started:hover {
    color: var(--contrast-color);
    background: color-mix(in srgb, var(--accent-color), transparent 15%);
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);
  }
  
  .hero .btn-get-started:hover i {
    transform: translateX(5px);
  }
  
  .hero .btn-watch-video {
    font-size: 16px;
    transition: 0.5s;
    color: var(--default-color);
    font-weight: 600;
  }
  
  .hero .btn-watch-video i {
    color: var(--accent-color);
    font-size: 32px;
    transition: 0.3s;
    line-height: 0;
    margin-right: 8px;
  }
  
  .hero .btn-watch-video:hover {
    color: var(--accent-color);
  }
  
  .hero .btn-watch-video:hover i {
    color: color-mix(in srgb, var(--accent-color), transparent 15%);
  }
  
  .hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  
  @media (max-width: 640px) {
    .hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    .hero p {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(-10px);
    }
  }
  
 
  